<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TEMPLAEXPRESS</title>


</head>

<body id="page-top">




</body>

<div id="wrapper">


<!--    - -   -   -   -   -   SIDE BAR   -    -   -   -   -   -   -   -   -   -   -   -   -           -->  
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="general.component.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-star"></i>
      </div>
      <div class="sidebar-brand-text mx-3">TEMPLAEXPRESS </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" >
        <span>Menu</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Indice
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
     <li class="nav-item"> 
      <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseVentas" aria-expanded="true" aria-controls="collapseVentas">
        <i class="fas fa-users"></i>
        <span>Personas</span>
      </a>
      <div id="collapseClientes" class="collapse show" aria-labelledby="headingClientes" data-parent="#accordionSidebar">
        <div >
        <!--  <h6 class="collapse-header">Custom Components:</h6> -->
          <a  class="btn btn-light btn-lg btn-block" (click)="vista('clientes')">Clientes</a><br>
        </div>
      </div>

      <div  id="collapseEmpleados" class="collapse show" aria-labelledby="headingEmpleados" data-parent="#accordionSidebar">
        <div >
        <!--  <h6 class="collapse-header">Custom Components:</h6> -->
          <a *ngIf="this.tipo != '0'" class="btn btn-light btn-lg btn-block" (click)="vista('empleados')">Empleados</a><br>
        </div>
      </div>

      <div id="collapseProveedores" class="collapse show" aria-labelledby="headingProveedores" data-parent="#accordionSidebar">
        <div >
        <!--  <h6 class="collapse-header">Custom Components:</h6> -->
          <a class="btn btn-light btn-lg btn-block" (click)="vista('proveedores')">Proveedores</a><br>
        </div>
      </div>
    </li>

    <!-- Inventario -->
    
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsefaltantes" aria-expanded="true" aria-controls="collapsefaltantes">
        <i class="fas fa-boxes"></i>
        <span>Inventario</span>
      </a>
      <div id="collapseVentas" class="collapse show" aria-labelledby="headingVentas" data-parent="#accordionSidebar">
        <div >
         <!-- <h6 class="collapse-header">Op</h6> -->
          <a class="btn btn-light btn-lg btn-block" (click)="vista('ventas')">Ventas</a><br>
        </div>
      </div>
      <div id="collapseInventario" class="collapse show" aria-labelledby="headingInventario" data-parent="#accordionSidebar">
        <div >
         <!-- <h6 class="collapse-header">Op</h6> -->
          <a class="btn btn-light btn-lg btn-block" (click)="vista('inventario')">Inventario</a><br>
        </div>
      </div>
      <div id="collapselista-precios" class="collapse show" aria-labelledby="headinglista-precios" data-parent="#accordionSidebar">
        <div >
         <!-- <h6 class="collapse-header">Op</h6> -->
          <a class="btn btn-light btn-lg btn-block" (click)="vista('lista-precios')">Lista de Precios</a><br>
        </div>
      </div>
      <div id="collapsefaltantes" class="collapse show" aria-labelledby="headingfaltantes" data-parent="#accordionSidebar">
        <div >
         <!-- <h6 class="collapse-header">Op</h6> -->
          <a class="btn btn-light btn-lg btn-block" (click)="vista('faltantes')">Lista de Faltantes</a><br>
        </div>
      </div>
      <div id="collapseganancias" class="collapse show" aria-labelledby="headingganancias" data-parent="#accordionSidebar">
        <div >
         <!-- <h6 class="collapse-header">Op</h6> -->
          <a *ngIf="this.tipo === '1'" class="btn btn-light btn-lg btn-block" (click)="vista('ganancias')">Ganancias</a><br>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div *ngIf="this.tipo === '1'" class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecomplementos" aria-expanded="true" aria-controls="collapsecomplementos">
        <i class="fas fa-folder-open"></i> Complementos
      </a>
    </div>

 <!-- Nav Item - Charts -->
 <li class="nav-item">
  <div id="collapseReportes" class="collapse show" aria-labelledby="headingReportes" data-parent="#accordionSidebar">
    <div >
     <!-- <h6 class="collapse-header">Op</h6> -->
      <a *ngIf="this.tipo === '1'" class="btn btn-light btn-lg btn-block" (click)="vista('reportes')">Reportes Ventas</a><br>
    </div>
  </div>
  <div id="collapseReproducto" class="collapse show" aria-labelledby="headingReproducto" data-parent="#accordionSidebar">
    <div >
     <!-- <h6 class="collapse-header">Op</h6> -->
      <a *ngIf="this.tipo === '1'" class="btn btn-light btn-lg btn-block" (click)="vista('reproducto')">Reportes Productos</a><br>
    </div>
  </div>
</li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
<!--    - -   -   -   -   -  FIN DE SIDE BAR   -    -   -   -   -   -   -   -   -   -   -   -   -        -->  





<!--    - -   -   -   -   - DIV TOOL BAR  -    -   -   -   -   -   -   -   -   -   -   -   -        -->  

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

<!--    - -   -   -   -   - TOOL BAR  -    -   -   -   -   -   -   -   -   -   -   -   -        -->  
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>
    
    
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
  
      <div class="topbar-divider d-none d-sm-block"></div>
    
      <!-- Nav Item - User Information -->
      
    </ul>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle"  id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span *ngIf="this.tipo === '0'" class="mr-6 d-none d-lg-inline text-gray-600 large">{{this.usr}} - Ventas</span>
      <span *ngIf="this.tipo === '1'" class="mr-6 d-none d-lg-inline text-gray-600 large">{{this.usr}} - Admin</span>
      <span *ngIf="this.tipo === '2'" class="mr-6 d-none d-lg-inline text-gray-600 large">{{this.usr}} - Almacen</span>
        <img class="img-profile rounded-circle" src="../../assets/img/logo_trans.png">
        <button type="button"  class="btn btn-primary"  (click)="logout()">Cerrar Sesion</button>
      </a> 
    </li>
    </nav> 
    
    
    <!--    - -   -   -   -   - FIN DE TOOL BAR  -    -   -   -   -   -   -   -   -   -   -   -   -        -->  

   

    <!--    - -   -   -   -   - FIN DEL DIV DE TOOL BAR-    -   -   -   -   -   -   -   -   -   -   -   -        -->  



 <!--    - -   -   -   -   - MAIN CONTAINER-    -   -   -   -   -   -   -   -   -   -   -   -        -->  
 <div class="container-fluid">
    
       <div layout="row" class="container" *ngIf="cli">
        <app-clientes></app-clientes>
       </div>  
       <div layout="row" class="container" *ngIf="emp">
        <app-empleados></app-empleados>
       </div>  
       <div layout="row" class="container" *ngIf="pro">
        <app-proveedores></app-proveedores>
       </div>  
       <div layout="row" class="container" *ngIf="ven">
        <app-ventas></app-ventas>
       </div>  
       <div layout="row" class="container" *ngIf="inv">
        <app-inventario></app-inventario>
       </div>  
       <div layout="row" class="container" *ngIf="rep">
        <app-reportes></app-reportes>
       </div>  
       <div layout="row" class="container" *ngIf="repro">
        <app-reproducto></app-reproducto>
       </div> 
       <div layout="row" class="container" *ngIf="fal">
        <app-faltantes></app-faltantes>
       </div> 
       <div layout="row" class="container" *ngIf="lp">
        <app-lista-precios></app-lista-precios>
       </div> 
       <div layout="row" class="container" *ngIf="gan">
        <app-ganancias></app-ganancias>
       </div> 
</div>





<!--    - -   -   -   -   - FIN DE MAIN CONTAINER-    -   -   -   -   -   -   -   -   -   -   -   -        -->  
</div>
</div>
</div>
</html>