<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col">
        <h2 class="m-0 font-weight-bold text-primary">Ventas</h2>
      </div>
      <div class="col-md-auto">
        <input type="text" class="form-control" placeholder="Buscar&hellip;" (keyup)="applyFilter($event.target.value)">
      </div>
      <div *ngIf="this.tipo != '2'" class="col col-lg-2">
        <button type="button" class="btn btn-info" (click)="modalinventario()">Nueva Venta</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id de la venta</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venta of ventas">
            <td>{{venta.id_ventas}}</td>
            <td>{{venta.fecha | date:'yyyy/MM/dd'}}</td>
            <td>{{venta.ape_pat}}  {{venta.ape_mat}}  {{venta.nombre}}</td>
            <td><button type="button" class="btn btn-primary" (click)="verventas(venta)">Ver mas</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button *ngIf="!abrirDetalles && abrirNota" type="button" class="btn btn-light" (click)="modalinventario()">
          <i class="fas fa-arrow-left"></i>
        </button>
        <h4 *ngIf="abrirDetalles" class="modal-title">Detalles de Venta</h4>
        <h4 *ngIf="!abrirDetalles && !abrirNota" class="modal-title">Nueva Venta</h4>
        <h4 *ngIf="!abrirDetalles && abrirNota" class="modal-title">Completar Venta</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Detalles y Nota -->
      <div *ngIf="abrirDetalles || abrirNota" class="modal-body">
        <form [formGroup]="ventaForm" id="ventaForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_ventas">Id de venta</label>
              <input type="text" class="form-control" id="id_ventas" placeholder="" formControlName="id_ventas" required>
            </div>
            <div class="form-group col-md-4">
              <label for="Fecha">Fecha</label>
              <input *ngIf="abrirDetalles && this.tipo === '1'" type="text" class="form-control" id="fecha" placeholder="" formControlName="fecha" required>
              <input *ngIf="abrirDetalles && this.tipo != '1'" type="text" class="form-control" id="fecha" placeholder="" formControlName="fecha" disabled="true" required>
              <input *ngIf="abrirNota" type="text" class="form-control" id="fecha" placeholder="" formControlName="fecha" required>
            </div>
            <div class="form-group">

              <label for="id_cliente">Nombre o Razon social del cliente</label>
              <select *ngIf="abrirDetalles && this.tipo === '1'" class="form-control" id="razon_social" formControlName="id_cliente" required>
                <option *ngFor="let cliente of clientes; let i = index" [value]="clientes[i].id_cliente" >
                  {{clientes[i].ape_pat}} {{clientes[i].ape_mat}} {{clientes[i].nombre}}
                </option>
              </select>

              <select *ngIf="abrirDetalles && this.tipo != '1'" class="form-control" id="razon_social" formControlName="id_cliente" disabled="true" required>
                <option *ngFor="let cliente of clientes; let i = index" [value]="clientes[i].id_cliente">
                  {{clientes[i].ape_pat}} {{clientes[i].ape_mat}} {{clientes[i].nombre}}
                </option>
              </select>

              <select *ngIf="abrirNota" class="form-control" id="razon_social" formControlName="id_cliente" >
                <option *ngFor="let cliente of clientes; let i = index" [value]="clientes[i].id_cliente">
                  {{clientes[i].ape_pat}} {{clientes[i].ape_mat}} {{clientes[i].nombre}}
                </option>
              </select>
            </div>
          </div>
          <label>Lista de Productos</label>
          <div class="table-responsive">
            <table class="table table-bordered" id="table_direccion" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Clave del herraje</th>
                  <th>Nombre del herraje</th>
                  <th>Marca del herraje</th>
                  <th>Cantidad</th>
                  <th>Tipo precio</th>
                  <th>Precio unitario</th>
                  <th *ngIf="abrirDetalles && this.tipo === '1'"> Detalles</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of (abrirDetalles ? ventaForm.controls['pedidos'].value : carrito)">
                  <td>{{producto.id_herraje}}</td>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.marca}}</td>
                  <td>{{producto.cantidad}}</td>
                  <td *ngIf="producto.tipo_precio=='1'">S/Vidrio</td>
                  <td *ngIf="producto.tipo_precio=='0'">C/Vidrio</td>
                  <td>{{producto.precio_unitario}}</td>
                  <td *ngIf="abrirDetalles && this.tipo === '1'"><button type="button" (click)=" borraruno(producto)" class="btn btn-warning" >Borrar Producto</button></td>
                </tr>
                <tr>
              </tbody>
            </table>
          </div> 
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="subtotal">Subtotal</label>
              <input type="text" class="form-control" id="subtotal" placeholder="" formControlName="subtotal" disabled="true">
            </div>
            <div class="form-group col-md-6">
              <label for="total">Total</label>
              <input *ngIf="abrirDetalles && this.tipo === '1'" type="text" class="form-control" id="total" placeholder="" formControlName="total" required>
              <input *ngIf="abrirDetalles && this.tipo != '1'" type="text" class="form-control" id="total" placeholder="" formControlName="total" disabled="true" required>
              <input *ngIf="abrirNota" type="text" class="form-control" id="total" placeholder="" formControlName="total" required>
              <!--<input type="text" class="form-control" id="total" placeholder="" formControlName="total">
              <input type="text" class="form-control" id="total" placeholder="" formControlName="total">-->
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="anticipo">Anticipo</label>
              <input *ngIf="abrirDetalles && this.tipo === '1'" type="text" class="form-control" id="anticipo" placeholder="" formControlName="anticipo" required>
              <input *ngIf="abrirDetalles && this.tipo != '1'" type="text" class="form-control" id="anticipo" placeholder="" formControlName="anticipo" disabled="true" required>
              <input *ngIf="abrirNota" type="text" class="form-control" id="anticipo" placeholder="" formControlName="anticipo" required>
            </div>
            <div class="form-group col-md-4">
              <label for="abono">Abono</label>
              <input *ngIf="abrirDetalles && this.tipo === '1'" type="text" class="form-control" id="abono" placeholder="" formControlName="abono" required>
              <input *ngIf="abrirDetalles && this.tipo != '1'" type="text" class="form-control" id="abono" placeholder="" formControlName="abono" disabled="true" required>
              <input *ngIf="abrirNota" type="text" class="form-control" id="abono" placeholder="" formControlName="abono" required>
            </div>
            <div class="form-group col-md-4">
              <label for="saldo">Saldo</label>
              <input *ngIf="abrirDetalles && this.tipo === '1'" type="text" class="form-control" id="saldo" placeholder="" formControlName="saldo" required>
              <input *ngIf="abrirDetalles && this.tipo != '1'" type="text" class="form-control" id="saldo" placeholder="" formControlName="saldo" disabled="true" required>
              <input *ngIf="abrirNota" type="text" class="form-control" id="saldo" placeholder="" formControlName="saldo" required required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="id_empleado">Nombre del empleado que atendió</label>
              <select *ngIf="abrirDetalles && this.tipo === '1'" class="form-control" id="id_empleado" formControlName="id_empleado">
                <option *ngFor="let empleado of empleados; let i = index" [value]="empleados[i].id_empleado">
                  {{empleados[i].ape_pat}} {{empleados[i].ape_mat}} {{empleados[i].nombre}}
                </option>
              </select>

              <select *ngIf="abrirDetalles && this.tipo != '1'" class="form-control" id="id_empleado" formControlName="id_empleado" disabled="true" required="true">
                <option *ngFor="let empleado of empleados; let i = index" [value]="empleados[i].id_empleado">
                  {{empleados[i].ape_pat}} {{empleados[i].ape_mat}} {{empleados[i].nombre}}
                </option>
              </select>

              <select *ngIf="abrirNota" class="form-control" id="id_empleado" formControlName="id_empleado" > 
                <option *ngFor="let empleado of empleados; let i = index" [value]="empleados[i].id_empleado">
                  {{empleados[i].ape_pat}} {{empleados[i].ape_mat}} {{empleados[i].nombre}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="status">Estado del pedido</label>
              <select *ngIf="abrirDetalles && this.tipo != '0'" class="form-control" id="status" placeholder="" formControlName="status" required>
                <option [value]=0>Entregado</option>
                <option [value]=1>No entregado</option>
              </select>

              <select *ngIf="abrirDetalles && this.tipo === '0'" class="form-control" id="status" placeholder="" formControlName="status" required disabled="true">
                <option [value]=0>Entregado</option>
                <option [value]=1>No entregado</option>
              </select>

              <select *ngIf="abrirNota" class="form-control" id="status" placeholder="" formControlName="status" required>
                <option [value]=0>Entregado</option>
                <option [value]=1>No entregado</option>
              </select>
            </div>
          </div>
          <!-- Modal footer -->
          <div *ngIf="abrirDetalles && this.tipo === '1'" class="modal-footer">
            <button  type="button" (click)="borrar()" class="btn btn-danger">Eliminar</button>
            <button  type="button" (click)="editar()" class="btn btn-primary">Guardar Cambios</button> 
          </div>

          <div *ngIf="abrirDetalles && this.tipo === '2'" class="modal-footer">
            <button  type="button" (click)="editar()" class="btn btn-primary">Guardar Estado</button> 
          </div>

          <div *ngIf="abrirNota" >
            <button type="button" (click)="agregar()" class="btn btn-primary">Guardar Venta</button>
          </div>
        </form>
      </div>

      <!-- Nueva Venta -->
      <div *ngIf="!abrirDetalles && !abrirNota" class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="m-0 font-weight-normal text-primary">Productos en el carrito: {{carrito.length}}</h2>
            </div>
            <div class=".col-6 .col-md-4">
              <button type="button" class="btn btn-danger" (click)="vaciarCarrito()">Vaciar Carrito</button>
            </div>
            <div class="col">
            <div class="col-sm">
              <input type="text" class="form-control" placeholder="Buscar&hellip;" (keyup)="aFilter($event.target.value)"> </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Clave del herraje</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Precio con vidrio</th>
                <th>Precio sin vidrio</th>
                <th>Existencias</th>
                <th>Minimos en stock</th>
                <th>Agregar a nota</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor='let producto of inventario'>
                <td>{{producto.id_herraje}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.marca}}</td>
                <td>{{producto.preciocvidrio}}</td>
                <td>{{producto.preciosvidrio}}</td>
                <td>{{producto.existencias}}</td>
                <td>{{producto.min}}</td>
                <td><button type="button" class="btn btn-light" (click)="agregarAlCarrito(producto)"><i
                      class="fas fa-cart-plus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary" name="agregarventa" (click)="modalVenta()">Crear nota</button>
      </div>

    </div>
  </div>
</div>