<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
</head>
<body>
  <div class="general">
      <div class="col">
        <p class="p-2 bg-success text-white">REPORTE DE VENTAS</p>
      </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModals"><i class="fas fa-file-signature"></i>REPORTE DE VENTAS SEMANALES</button>
        <button type="submit" class="btn btn-secondary btn-lg btn-block" (click)="Repmensual()" ><i class="fas fa-file-signature"></i>REPORTE DE VENTAS MENSUALES</button>
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="Repanual()" ><i class="fas fa-file-signature"></i>REPORTE DE VENTAS ANUALES</button>
     
    </div>

  <!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog modal-lg" >
  <div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">REPORTES</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <!-- Modal body -->
          <div class="modal-body">
            <form [formGroup]="reportesForm" id="reportesForm">
              
              <div class="table-responsive">
                  <table class="table">
                    
                    <thead>
                      <tr >
                        <th>Fecha</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reporte of reportes">
                          <td>{{reporte.nfecha}}</td>
                          <td>{{reporte.total}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModals">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">REPORTES</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!-- Modal body -->
            <div class="modal-body">
              <form [formGroup]="reportesemForm" id="reportesemForm">
                <label>INGRESA FECHA A CONSULTAR PARA REPORTE SEMANAL:</label>
                <input type="date" class="formControlName" formControlName="f_rep" id="f_rep" placeholder="aaaammdd">
                <button type="button" class="btn btn-danger"  (click)="Repsemanal(f_rep)" >Calcular</button>
                <div class="table-responsive">
                    <table class="table">
                     
                      <thead>
                        <tr >
                          <th>Fecha</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let reporte of reportes">
                            <td>{{reporte.nfecha}}</td>
                            <td>{{reporte.total}}</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
              
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>