<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
</head>
<body>
  <div class="general">
      <div class="col">
        <p class="p-2 bg-success text-white">REPORTE DE VENTAS</p>
      </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModals"><i class="fas fa-file-signature"></i>REPORTE DE VENTAS </button>
    </div>

    <div>
      <button type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#gananciamodal"><i class="fas fa-file-signature"></i>REPORTE DE GANANCIA DIARIA </button>
    </div>
  <!--modal de semanas-->
<div class="modal" id="myModals">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">REPORTES</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!-- Modal body -->
            <div class="modal-body">
              <form >
                <label>INGRESA FECHA A CONSULTAR PARA REPORTE:</label>
                <select id="temporada" name="TEMPORADA">
                  <option>Semana</option>
                  <option>Mes</option>
                  <option>Año</option>
                  </select>
                <input type="date" class="formControlName"  id="f_rep" placeholder="aaaammdd">
                <button type="button" class="btn btn-danger"  (click)="Repsemanal()" >Calcular</button>
                <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr >
                          <th>Fecha</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr >
                            <td>{{f_rep}}</td>
                            <td>{{total}}</td>
                          </tr>
                          <tr *ngFor="let mees of mes" >
                            <td>{{mees.nfecha}}</td>
                            <td>{{mees.total}}</td>
                           
                          </tr>
                          <tr *ngFor="let anio of aanio">
                            <td>{{anio.nfecha}}</td>
                            <td>{{anio.total}}</td>
                          
                          </tr>

                      </tbody>
                    </table>
                  </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!--modal de Ganancia-->
<div class="modal" id="gananciamodal">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">REPORTE DIARIO DE GANANCIA</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!-- Modal body -->
            <div class="modal-body">
              <form >
                <label>INGRESA FECHA A CONSULTAR PARA REPORTE:</label>
                <input type="date" class="formControlName"  id="daily" placeholder="aaaammdd">
                <button type="button" class="btn btn-danger"  (click)="Repdiario()" >Calcular</button>
                <div class="table-responsive">
                    <table *ngIf="repst === 1" class="table">
                      <thead>
                        <tr >
                          <th>Fecha</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr >
                            <td>{{diariof}}</td>
                            <td>{{diarioc}}</td>
                          </tr>
                      </tbody>
                    </table>
                    <p *ngIf="repst === 2"> No hay ganancias registradas ese dia </p> 
                  </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
   
</body>