<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h1>Empleados</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Buscar&hellip;" (keyup)="applyFilter($event.target.value)"> </div>
        <div class="col-sm">
          <button *ngIf="this.tipo === '1'" type="button"  class="btn btn-primary" data-toggle="modal" data-target="#myModalnew" >Agregar nuevo Empleado</button>
        </div>
        <div class="col-sm">
          <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#caliz" >Agenda</button>
        </div>
      </div>
    </div> </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Numero de empleado</th>
            <th>Nombre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{empleado.id_empleado}}</td>
            <td>{{empleado.nombre}} {{empleado.ape_pat}} {{empleado.ape_mat}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="verempleado(empleado)">Ver mas</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Empleados</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!-- Modal body -->
            <div class="modal-body">
              <form [formGroup]="empleadoForm1" id="empleadoForm1">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="nomre">Nombre</label>
                    <input *ngIf="this.tipo === '1'" type="text" class="form-control" id="nombre" formControlName="nombre_empleado"placeholder="" >
                    <input *ngIf="this.tipo != '1'" type="text" class="form-control" id="nombre" formControlName="nombre_empleado"placeholder="" disabled="true">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="ape_pat">Apellido paterno</label>
                    <input *ngIf="this.tipo === '1'" type="text" class="form-control" id="ape_pat" placeholder="" formControlName="ape_pat">
                    <input *ngIf="this.tipo != '1'" type="text" class="form-control" id="ape_pat" placeholder="" formControlName="ape_pat" disabled="true">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="ape_mat">Apellido materno</label>
                    <input *ngIf="this.tipo === '1'" type="text" class="form-control" id="ape_mat" placeholder="" formControlName="ape_mat">
                    <input *ngIf="this.tipo != '1'" type="text" class="form-control" id="ape_mat" placeholder="" formControlName="ape_mat" disabled="true">
                  </div>
                </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="puesto">Puesto</label>
                  <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder=""  formControlName="puesto">
                  <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder=""  formControlName="puesto" disabled="true">
                </div>
                <div class="form-group col-md-4">
                  <label for="telefono">Telefono</label>
                  <input *ngIf="this.tipo === '1'"  type="text" class="form-control"  placeholder="" formControlName="telefono">
                  <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="telefono" disabled="true">
                </div>
                <div class="form-group col-md-4">
                  <label for="nombre_usuario">Nombre usuario</label>
                  <input *ngIf="this.tipo === '1'"  type="text" class="form-control" placeholder="" formControlName="nombre_usuario" >
                  <input *ngIf="this.tipo != '1'" type="text" class="form-control" placeholder="" formControlName="nombre_usuario" disabled="true">
                </div>
              </div>
              <label for="id_direccion">Direccion</label>
            <div class="table-responsive">
                <table class="table table-bordered" id="table_direccion" width="100%" cellspacing="0">
                  <thead>
                    <tr >
                      <th>Calle</th>
                      <th>Numero interior</th>
                      <th>numero exterior</th>
                      <th>colonia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr> 
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="calle" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="calle" disabled="true">
                      </td>
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="num_int" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="num_int" disabled="true">
                      </td>
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="num_ext" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="num_ext" disabled="true">
                      </td>
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="colonia" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="colonia" disabled="true">
                      </td>
                    </tr>
                    <tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th>Codigo Postal</th>
                      <th>Ciudad</th>
                      <th>Estado</th>
                      <th>País</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr> 
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="cp" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="cp" disabled="true">
                      </td>
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="ciudad"> 
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="ciudad" disabled="true">
                      </td>
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="estado" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="estado" disabled="true">
                      </td>
                      <td> 
                        <input *ngIf="this.tipo === '1'" type="text" class="form-control"  placeholder="" formControlName="pais" >
                        <input *ngIf="this.tipo != '1'" type="text" class="form-control"  placeholder="" formControlName="pais" disabled="true">
                      </td>
                    </tr>
                    <tr>
                  </tbody>
                </table>
              </div>
            </form>
            </div>
            <!-- Modal footer -->
            <div *ngIf="this.tipo === '1'" class="modal-footer">
              <button type="button" (click)="borrar()" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
              <button type="button" (click)="editar()" class="btn btn-danger" >Editar</button>
            </div>
    </div>
  </div>
</div>

  <!-- The Modal -->
  <div class="modal" id="myModalnew">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Empleados</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
            <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="empleadoForm" id="empleadoForm">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="nombre">Nombre</label>
                      <input type="text" class="form-control" formControlName="nombre_empleado" placeholder="" required >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="ape_pat">Apellido paterno</label>
                      <input type="text" class="form-control" formControlName="ape_pat" placeholder="" required >
                    </div>
                    <div class="form-group col-md-4">
                      <label for="ape_mat">Apellido materno</label>
                      <input type="text" class="form-control" formControlName="ape_mat" placeholder="" required >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="telefono">Telefono</label>
                      <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="" required >
                    </div>
                    <div class="form-group col-md-6">
                      <label for="puesto">Puesto</label>
                      <input type="text" class="form-control" id="puesto" placeholder="" formControlName="puesto" required >
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="nombre_usuario">nombre_usuario</label>
                    <input type="text" class="form-control" id="nombre_usuario" placeholder="" formControlName="nombre_usuario" required >
                  </div>
                  <div class="form-group col-md-6">
                    <label for="contrasena">Contraseña</label>
                    <input type="text" class="form-control" id="contrasena" placeholder="" formControlName="contrasena" required >
                  </div>
                </div>
                  <label for="id_direccion">Direccion</label>
                  <div class="table-responsive">
                      <table class="table table-bordered" id="table_direccion" width="100%" >
                        <thead>
                          <tr >
                            <th>Calle</th>
                            <th>Numero interior</th>
                            <th>numero exterior</th>
                            <th>colonia</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td><input placeholder="" id="calle" class="form-control" formControlName="calle" required  ></td>
                            <td><input placeholder="" id="agregar_num_int" class="form-control" formControlName="num_int" required ></td>
                            <td><input laceholder="" id="agregar_num_ext" class="form-control" formControlName="num_ext" required ></td>
                            <td><input placeholder="" id="agregar_colonia" class="form-control" formControlName="colonia" required ></td>
                          </tr>
                          <tr>
                        </tbody>
                        <thead>
                          <tr>
                            <th>Codigo Postal</th>
                            <th>Ciudad</th>
                            <th>Estado</th>
                            <th>País</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td><input placeholder="" id="agregar_cp" class="form-control" formControlName="cp" required ></td>
                            <td><input placeholder="" id="agregar_cuidad" class="form-control" formControlName="ciudad" required ></td>
                            <td><input placeholder="" id="agregar_estado" class="form-control" formControlName="estado" required ></td>
                            <td><input placeholder="" id="agregar_pais" class="form-control" formControlName="pais" required ></td>
                          </tr>
                          <tr>
                        </tbody>
                      </table>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)=newempleado() >Guardar</button>
              </form>
              </div>
            
      </div>
    </div>
  </div>



  <!-- The Modal agenda -->
<div class="modal" id="caliz">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agenda</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!-- Modal body -->
            <div class="modal-body">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Nombre del Empleado</th>
                    <th>Nombre Completo</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of empleados" >
                      <td>{{cliente.nombre}}  {{cliente.ape_pat}}  {{cliente.ape_mat}}</td>
                      <td> {{cliente.telefono}}  </td>
                   </tr>
                </tbody>
              </table>
            </div>
    </div>
  </div>
</div>
